 {% extends "base.html" %}
 {% block title %} about {% endblock title %}   
 {% block body %}
   
    <h1>
        What Is say about Developer?
    </h1>
    <br>
    <h3 style="color: rgb(105, 243, 243);">
        A full-stack developer helps build and maintain both the front-end and the back-end of a website. Learn about full-stack developer skills, salary, and how you can become one.
    </h3>
     
        <img  style="width: 700px;   border: 1px solid skyblue; margin-left: 25%;" src="/static/images/about-devloper.png"><br>
     
        <h3 style="color: rgb(12, 178, 243);">A full-stack developer is a developer or engineer who can build both the front end and the back end of a website. The front end (the parts of a website a user sees and
         interacts with) and the back end (the behind-the-scenes data storage and processing) require different skill sets. Since full-stack developers are involved with all aspects of the development process, they must have expertise in both. 

        A full-stack developer can work in-house or at a computer development company that engineers websites, software,
         and other components for other businesses.</h3>
 {% endblock body %}