 {% extends "base.html" %}
 {% block title %} about {% endblock title %}   
 {% block body %}
   
    <h1>
        What Is say about Developer?
    </h1>
    <br>
    <h3 style="color: rgb(105, 243, 243);">
        A full-stack developer helps build and maintain both the front-end and the back-end of a website. Learn about full-stack developer skills, salary, and how you can become one.
    </h3>
 <div class="card mb-3" style="max-width: 1140px;">
  <div class="row g-0">
    <div class="col-md-8">
      <img src="/static/images/about-devloper.png" class="img-fluid rounded-start" alt="image">
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title">Devloper</h5>
        <p class="card-text"> A full-stack developer is a developer or engineer who can build both the front end and the back end of a website. The front end (the parts of a website a user sees and
         interacts with) and the back end (the behind-the-scenes data storage and processing) require different skill sets. Since full-stack developers are involved with all aspects of the development process, they must have expertise in both.

        A full-stack developer can work in-house or at a computer development company that engineers websites, software,
         and other components for other businesses</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 1 month ago</small></p>
      </div>
    </div>
  </div>
</div>
 
 
 <div class="card mb-3" style="max-width: 1140px;">
  <div class="row g-0">
    <div class="col-md-8">
      <img src="/static/images/pexels-olia-danilevich-4974914.jpg" class="img-fluid rounded-start" alt="image">
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title">Devloper</h5>
        <p class="card-text"> A full-stack developer is a developer or engineer who can build both the front end and the back end of a website. The front end (the parts of a website a user sees and
         interacts with) and the back end (the behind-the-scenes data storage and processing) require different skill sets. Since full-stack developers are involved with all aspects of the development process, they must have expertise in both.

        A full-stack developer can work in-house or at a computer development company that engineers websites, software,
         and other components for other businesses</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 day ago</small></p>
      </div>
    </div>
  </div>
</div>
     
 
 {% endblock body %}