{% extends "base.html" %}  
{% block title %} download {% endblock title %}   
 
 


 {% block body %}
 <style>
  .inp-style{
      color: aqua;
      font-size: large;
      position: relative;
      text-rendering: none;
      color: hsl(228, 100%, 1%);
      height: 26px;
      border: 1px solid aqua;
      box-shadow: 2px 1px 2px 1px rgb(45, 162, 240);
      
      
  }
  .btn-style{
      font-size: large;
      color:rgb(243, 9, 9);
      border: 0px solid green;
      margin-left: 80%;
      margin-bottom: 99%;
      top: 200px;
      position: absolute;
     
           }
           
  h4{
  color:red;
  }
  .thumbnale1{
    position: relative;
    width: 450px;
    height: 300px;
    display: flex;
    margin-left: 10%;
  }
  .video-type{
    width: 400px;
    height: 260px;
    border: 1px solid rgb(45, 162, 240);
    position: absolute;
     left: 50%;
     top: 60%;
  }
</style>


    <!-- form for video downloading design -->

    <h1 style="color:rgb(228, 24, 255); margin-left: 20%;"> Enter any url of YouTube video and  download</h1>

    <form  method="post" >{% csrf_token %}
        <label style="color: rgb(62, 62, 241); font-size: 40px;">
            Enter video url:
        </label>
        <input class="inp-style" type="text" size="70" name="url_of_video"  placeholder=" Enter url" required><br><br>
         

        <!-- informaation of video design here -->
        {% if  internet %}
        <label><h1 style="color:red;">please check internet coneection  or  </h1></label>
        {% endif %}
        <label style="color: rgb(243, 10, 10);font-size:30px;">title: Video size:{{video_size}} </label> <h4>{{title}}</h4>
        
       {% if thumbnale %}
       <div class="thumbnale1">
           <img class="thumbnale1" src='{{thumbnale}}' alt="thumbnale"></div>
         {% endif %}
         
           
       
       <button style="color: red; margin-left: 70%; top: 200px; position: absolute;
       border: 1px solid rgb(63, 253, 63); font-size: large;" type="submit"> Get video</button>

  </form>
  <!-- downlode form start her -->
       <form  action='/single_video' method="get"> 
       
       
       
      </div>
       <!-- {% if downlode %} -->
        
       <button style="color: red;  margin-left: 55%;top: 500px; position: absolute;
       border: 1px solid rgb(63, 253, 63); font-size: large;" type="submit"> Downlode video</button>
       <!-- {% endif %} -->
       </form>
    

    {% endblock body %}
     