

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    

</head>
<body>
  <!-- here footer css link or external apply  -->
    {% load static %}
     <link href="{% static 'static/src/footer.css' %}"  rel="stylesheet" type="text/css" />

 
  <!-- sticker  fixd position design  here-->
   <!-- sticker design  here-->
 <a href="mailto:211152@kit.ac.in">
   <img class="sticker1" src="/static/images/gmail.png" alt="gmail" >
</a>
<a href="tel:+916386816303">
   <img class="sticker2" src="/static/images/phone-call.png" alt="Phone-call" >
  </a>
   <!-- sticker design  here-->
    <center> 
  <h3 style="color:rgb(16, 117, 248); background-color: rgb(130, 248, 248); height: 50px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> abot my team member</h3>
      </center>
  <!-- section end tag  -->
<!-- <h> footer start here</h> -->
<div class="main">
 
 
  <div class="img-tag">
    <img class="image1" src="/static/images/IMG_20220223_105837-2-cop.png" alt="im2">
    <h1 style="text-align: center;color:rgb(212, 0, 255);">Praveen Yadav</h1>
    {% comment %} <h3 style="text-align: center;color:rgb(212, 0, 255);">Full-staic devloper </h3>   {% endcomment %}
    <p  class="paragraph-text"> A full-stack developer is a developer or engineer who can build both the front end and the back end of a website. The front end (the parts of a website a user sees and interacts with) and the back end (the behind-the-scenes data storage and processing) require different skill sets.</p>
    <img class="starimg" src="/static/images/fullstar.jpg" alt="img1" >
 </div>
         

  
    <div class="img-tag">
       <img class="image1" src="/static/images/Ayush.jpeg" alt="im2">
       <h1 style="text-align: center;color:rgb(212, 0, 255);">Ayush Gupta</h1>
       <p  class="paragraph-text">A Stock Trader invests in the financial market. There are two types of traders, individual traders, and company traders. We refer to individual traders also as retail traders. They usually buy and sell stocks through brokers. The company traders usually deal with stocks for big investment companies and firms.</p>
       <img class="starimg" src="/static/images/fullstar.jpg" alt="img1" >
    </div>
 
    <div class="img-tag">
        <img class="image1" src="/static/images/sandeep.jpg" alt="im3">
        <h1 style="text-align: center;color:rgb(212, 0, 255);">Sandeep Srivastv</h1>
        <p  class="paragraph-text"> Data engineering refers to the building of systems to enable the collection and usage of data. This data is usually used to enable subsequent analysis and data science engineering which often involves machine.The term software engineering is the product of two words.</p>
        <img class="starimg" src="/static/images/fullstar.jpg" alt="img1" >
    </div>
    
    <div class="img-tag">
        <img class="image1" src="/static/images/aman.jpg" alt="im3">
        <h1 style="text-align: center;color:rgb(212, 0, 255);">Aman Alam</h1>
        <p  class="paragraph-text">The term software engineering is the product of two words, software, and engineering. The softwareis a collection of integrated programs. Software subsists of carefully-organized instructions and code written by developers on any of various particular computer languages.</p>
        <img class="starimg" src="/static/images/fullstar.jpg" alt="img1" >
    </div>  

</div>
<!-- section end here -->
<br>
<br>
<!-- footer start  here-->
<footer>
  <div style="text-align: center;">
    <h3 style="color:rgb(16, 117, 248); background-color: rgb(130, 248, 248); height: 50px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> footer servises provide</h3>
    <div class="container"id="cn">
       <h3>Subscribe To junior coders</h3>
       <form>
      <input type="email"id="emails"placeholder="Enter Here Emails">
      <button class="submit"id="btn" type='subject'> 
        Subscribe
      </button>
    </form>
    </div>
    </div>
      <div class="second-container">
        <p class="pragraphe"> 
          @  servises provide-by small community junior coder
        </p> 
        <a href="#">
        <img src="/static/images/instragram.png"alt="1" class="imgicon">
        </a>
        <a href="https://github.com/Praveen12401">
  <img src="/static/images/github.jpg"alt="image"class="imgicon">
        </a>
        <a href="https://www.linkedin.com/in/praveen342/"  target="_blank">
           <img src="/static/images/linkedin.png" alt="3" class="imgicon">
        </a>
      </div>
  
  
     
</footer>


</body>
</html>