<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> header</title>
</head>
{% load static %}
<link href="{% static 'static/src/header.css' %}"  rel="stylesheet" type="text/css" />

<body>
<header>
    <nav class="navbar">
        <ul>
            <li class="{% if request.path == '/' %} active {% endif %}"><a href="/">Home</a></li>
            <li class="{% if request.path == '/about/' %} active {% endif %}"><a href="/about">About</a></li>
            <li class="{% if request.path == '/contant/' %} active {% endif %}"><a href="/contant">Contant</a></li>
            <li class="{% if request.path == '/download/' %} active {% endif %}"><a href="/download">download</a></li>
            <li class="{% if request.path == '/chat-gpt' %} active {% endif %}"><a href="/chat-gpt">chat-gpt</a></li>
            <div class="search">
                <input type="text" name="search" id="search" placeholder="search this website">
            </div>
        
        
        </ul>
    </nav>
</header>


</body>
</html>
