{% extends "base.html" %}
{% block title %} Home {% endblock title %}   
{% block body %}
<style>
    .slider-container {
      margin: 0px;
      width: 100%;
      height: 540px;
     
    
       
      overflow: hidden;
      position:  relative;
     
      background-size: 100% 100%;
      background-image: url('/static/images/bb.jpg');
      
      
      box-shadow: 1px 2px  rgb(224, 150, 191);
      animation: slider 20s 2s infinite linear

    }
 

    @keyframes slider {
      0% {
        background-image: url('/static/images/bb.jpg');
      
      }
    25% {
        background-image: url('/static/images/aa.jpg');
       
      }
    
    
      50% {
        background-image: url('/static/images/c.jpg');
      }
      75% {
        background-image: url('/static/images/dd.jpg');
       
      }
        100% {
        background-image: url('/static/images/e.jpg');
      }
     
    }
    .slider-container p{
      position: absolute;
      bottom: 35%;
      left: 40%;
     
     
      color: whitesmoke;
      font-size: 50px;
      font-family:Verdana, Geneva, Tahoma, sans-serif;

    }
  </style>
</head>
<body>

<div class="slider-container">
   
  
    <p> welcome my page</p>

   
  
</div>



</body>
<center>
 <h3 style="color:rgb(16, 117, 248); background-color: rgb(130, 248, 248); height: 50px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> abot my team member</h3>
      </center>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="/static/images/e.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/static/images/about-devloper.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/static/images/aa.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/static/images/cc.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>>

{% endblock body %}   